:root {
    /* fonts */
    --font-heading: "Poetsen One", sans-serif;
    --font-page: Verdana, Geneva, Tahoma, sans-serif;
    /* colors */
    --pink-dark: #bf0179;
    --pink-light: #fbf0f8;
    --turq-dark: #0091a7;
    --turq-light: #e0f8fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--turq-dark);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 150px;
    display: flex;
}

#header-title {
    display: flex;
    margin: 0 auto;
}

aside {
    display: none;
}

#header-logo {
    max-height: 100px;
    width: auto;
    margin-left: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 35px;
    width: 200px;
}

nav a {
    display: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--pink-dark);
    color: white;
    font-family: var(--font-heading);
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
}


/* this class is not present in the HTML code - it is added/removed by the JS when the hamburger menu button is clicked */
.open a {
    display: block;
}

#mobile-menu-button {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* appearence for the button when open class os off */
#mobile-menu-button::before {
    content: "☰";
    font-size: 40px;
}

/* appearence for the button when open class os on */
#mobile-menu-button.open::before {
    content: "x";
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: var(--turq-dark);
}

#header-h1 {
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    color: var(--turq-dark);
    font-size: 1.8em;
}

h3 {
    color: var(--pink-dark);
    font-size: 1.4em;
}

p {
    padding: 1rem;
    font-size: 1.1em;
    font-family: var(--font-page);
    text-align: center;
}

footer p {
    padding: 0.2rem 0 0 0;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--pink-dark);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-page);
}

.socials-icon {
    width: 80px;
    height: 80px;
    padding: 1rem;
}

a:hover {
    background-color: var(--turq-light);
    color: black;
    font-weight: 700;
    border-radius: 10px;
}

.active {
    font-weight: 700;
}

a.socials-link:hover {
    background: none;
}