body {
    display: grid;
    grid-template: auto 70% auto / auto;
    background-color: rgb(222, 222, 222);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    grid-column: 1 / 7;
    display: grid;
    grid-template-rows: auto 50px;
    background-color: #067671;
}

.headertitle {
    padding: 1rem;
    background-color: #067671;
    color: white;
}

h1 {
    text-align: center;
}

.nav-bar {
    background-color: #043D3B;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
}

.nav-bar a {
    float: left;
    padding-top: 1rem;
    text-align: center;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: #F5B7B1;
}

nav a:hover {
    text-decoration: none;
    color: #F9E79F;
    cursor: grab;
    font-style: oblique;
}

@media (min-width: 800px) {
    main {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 79% 2% 19%;
        background-color: rgb(222, 222, 222);
        font-family: Georgia, 'Times New Roman', Times, serif;
        max-width: 99%;
        justify-self: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media (max-width: 800px) {
    main {
        grid-column: 1/7;
        background-color: rgb(222, 222, 222);
        font-family: Georgia, 'Times New Roman', Times, serif;
        justify-self: center;
        margin-top: 1em;
        margin-bottom: 1em;
        overflow: scroll;
    }
}

.card {
    display: grid;
    grid-template-rows: 80px auto;
    background-color: white;
    border-radius: 30px;
    border: black 1px solid;
}

.card h2 {
    text-align: center;
    background-color: #76D7C4;
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    margin: 10px;
}

#main-section {
    grid-column: 1 / 2;
    text-align: left;
}

#profile {
    display: grid;
    grid-template: auto / 45% 55%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#profile img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#profile-text {
    grid-column: 2 / 3;
    text-align: left;
}

#place {
    display: grid;
    grid-template: auto / 60% 40%;
    padding-left: 2rem;
}

#place p {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#place img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#aside-section {
    grid-column: 3 / 4;
}

#aside-section ul {
    list-style-type: none;
    Padding: 1rem;
}

.card li {
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card a:link {
    text-decoration: none;
    color: #138D75;
}

.card a:visited {
    text-decoration: none;
    color: #138D75;
}

.card a:hover {
    color: #EC7063;
    cursor: grab;
}

footer {
    grid-column: 1 / 7;
    padding: 1rem 1rem 6rem 1rem;
    text-align: center;
    background-color: #067671;
    color: white;
}