:root {
    /* fonts */
    --font-heading: "Young Serif", serif;
    --font-page: "Poppins", sans-serif;
    /* colors */
    --top-color: #003AB8;
    --bottom-color: #076d3a;
    --background-light: #dfe9ff;
    --text-light: white;
    --bottom-color-light: #d5f0e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100px auto auto;
}

header {
    padding: 1rem;
    background-color: var(--top-color);
}

h1 {
    color: var(--text-light);
    padding: 1rem;
    padding-left: 2rem;
    font-family: var(--font-heading);
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    padding: 1rem;
    background-color: var(--top-color);
    color: var(--text-light);
    font-family: var(--font-page);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    width: 45%;
    margin-right: 0;
    margin-left: auto;
}

h2 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--font-heading);
    font-size: 1.8em;
    color: var(--bottom-color);
    border-top: 5px solid var(--bottom-color);
    border-bottom: 5px solid var(--bottom-color);
}

#temples {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* Centers the section */
}

.temple-card {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--background-light);
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}

.temple-img {
    width: 100%;
    aspect-ratio: auto 400 / 250;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--top-color);
}

.temple-card table {
    padding: 1rem;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.label,
.value {
    font-family: var(--font-page);
    font-size: 1em;
}

.label {
    text-align: right;
    padding-right: 0.5rem;
    font-weight: 600;
}

.value {
    text-align: left;
    padding-left: 0.5rem;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 1.2em;
}

/* this class is not present in the HTML code - it is added/removed by the JS when the hamburger menu button is clicked */
.open a {
    display: block;
}

a:hover {
    background-color: var(--bottom-color-light);
    color: black;
    font-weight: 700;
    border-radius: 10px;
}

.active {
    font-weight: 700;
}

/* adds icons to the active nav menu item */
.active::before {
    content: "⛪";
    padding-right: 1rem;
}

/*
.active::after {
    content: "⛪";
    padding-left: 1rem;
} */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
}

/* appearence for the button when open class os off */
#menu::before {
    content: "☰";
    font-size: 40px;
}

/* appearence for the button when open class os on */
#menu.open::before {
    content: "x";
}

footer {
    background-color: var(--bottom-color);
    color: white;
    padding: 1rem 1rem 6rem 1rem;
    text-align: center;
}

/* Formatting for large view ports above 768px wide */
@media (min-width: 768px) {

    #temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin: 0;
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        flex-direction: row;
        background-color: transparent;
        max-height: 80px;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
    }

    .active::before {
        padding-right: 0.5rem;
        font-size: small;
    }

    .active::after {
        padding-left: 0.5rem;
        font-size: small;
    }
}